<div class="row col-sm-6 col-sm-offset-3">
  <h1 style="text-align: center;">Profile</h1>

  <h3>Location:</h3>
  <div id="location">
    <% if @location_set %>
      <%= "#{@user.latitude.round(2)}, #{@user.longitude.round(2)}" %>
    <% else %>
      Unknown.
    <% end %>
  </div>
  <div>
    <div id="map" style='height: 300px;'></div>

    <button id="update-location-button" class="btn btn-info btn-block">Update location</button>
  </div>

  <h4>Display message: <button id="edit-message-button" class="btn btn-xs btn-info">Edit</button></h4>
  <div id="message-container" class="loading-container">
    <%= render 'message_form' %>
  </div>

  <div style="clear: both;">
    <h3>Maps</h3>
    <h4>Owner:</h4>
    <div class="list-group">
      <% @user.maps.each do |map| %>
        <%= link_to map.title, map, class: "list-group-item" %>
      <% end %>
    </div>

    <h4>Member:</h4>
    <div class="list-group">
      <% @user.map_memberships.each do |map| %>
        <%= link_to map.title, map, class: "list-group-item" %>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  setupMap(<%= raw @markers.to_json %>);
</script>