<h1>Profile</h1>

<h3>Location:</h3>
<div id="location">
  <% if @location_set %>
    <%= "#{@user.latitude.round(2)}, #{@user.longitude.round(2)}" %>
  <% else %>
    Unknown.
  <% end %>
</div>
<div style='width: 400px;'>
  <div id="map" style='width: 100%; height: 250px;'></div>

  <button id="update-location-button" class="btn btn-info">Update location</button>
</div>

<h4>Display message: <button id="edit-message-button" class="btn btn-xs btn-info">Edit</button></h4>
<div id="message-container" class="col-md-6 loading-container">
  <%= render 'message_form' %>
</div>

<div style="clear: both;">
  <h3>Maps</h3>
  <h4>Owner:</h4>
  <ul>
    <% @user.maps.each do |map| %>
      <li>
        <%= link_to map.title, map %>
      </li>
    <% end %>
  </ul>

  <h4>Member:</h4>
  <ul>
    <% @user.map_memberships.each do |map| %>
      <li>
        <%= link_to map.title, map %>
      </li>
    <% end %>
  </ul>
</div>

<script type="text/javascript">
  setupMap(<%= raw @markers.to_json %>);
</script>